/* CSS declarations go here */


body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1.4em;
  background: #222;
  color: #fff;
}

.links {
  text-align: center;
  display: block;
}

.links a {
  color: orange;
  text-decoration: none;
  background-size: cover;
  height: 160px;
  width: 50%;
  background-position: center center;
  display: block;
  float: left;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
}

@media only screen and (min-width: 24em) {
  .links a {
    width: 33.333%;
    height: 140px;
  }
}

@media only screen and (min-width: 48em) {
  .links a {
    width: 25%;
    height: 120px;
  }
}

@media only screen and (min-width: 72em) {
  .links a {
    width: 10%;
    height: 100px;
  }
}

#blueimp-gallery .title {
  display: none;
}

.blueimp-gallery > .slides > .slide-loading {
  background: url(/img/loading.gif) center no-repeat;
}

.blueimp-gallery > .slides > .slide-error {
  background: url(/img/error.png) center no-repeat;
}

.blueimp-gallery > .play-pause {
  background: url(/img/play-pause.png) 0 0 no-repeat;
}

body:last-child .blueimp-gallery > .slides > .slide-error {
  background-image: url(/img/error.svg);
}

body:last-child .blueimp-gallery > .play-pause {
  background-image: url(/img/play-pause.svg);
}
