.gallery-link {
  font-size: 2.5em;
  font-weight: 100;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out; 
  text-align: center;
  width: 100%;
  margin-bottom: 1px;
  color: #aaa;
  background: rgba(0, 0, 0, 0.4);
  margin: 1px;
  padding: 20px;
  width:  250px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
}

.container.phone .gallery-link {
  float: left;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  margin-top: 10px;
  font-size: 5em;
}

/*@media only screen and (min-width: 24em) {
  .gallery-link {
    width: 45%;
  }
}

@media only screen and (min-width: 48em) {
  .gallery-link {
    width: 30%;
  }
}

@media only screen and (min-width: 72em) {
  .gallery-link {
    width: 25%;
  }
}*/

.gallery-link.show {
  opacity: 1;
}

.gallery-link a {
  white-space: pre-line;
  text-align: center;
  line-height: 1.2em;
  text-decoration: none;
  color: #ccc;
}

.container.phone .gallery-link a {
  line-height: 2.2em;
}

.gallery-link:hover {
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
/*  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);*/
}

.links {
  text-align: center;
  display: block;
}

.links a {
  color: orange;
  text-decoration: none;
  background-size: cover;
  height: 160px;
  width: 50%;
  background-position: center center;
  display: block;
  float: left;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; 
  overflow: hidden;
}