.home {
  background: url("/img/home.svg") repeat scroll 0% 0% transparent;
  background-repeat: no-repeat;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.5s ease-in-out;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
}

@media only screen and (min-width: 24em) {
  .home {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
  }
}

@media only screen and (min-width: 48em) {
  .home {
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
  }
}

@media only screen and (min-width: 72em) {
  .home {
    width: 25px;
    height: 25px;
    background-size: 25px 25px;
  }
}

.home:hover {
  opacity: 1;
}

.home.away {
  opacity: 0;
}

.background-image:before {
  height: 100%;
  padding: 0px 0px 100%;
  padding-bottom: 100%;
  background: url("/img/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(8px);

  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}

.banner {
  color: #222;
  font-size: 14px;
  height: 619px;
  min-height: 150px;
  position: relative;
  text-align: center;
  text-rendering: optimizelegibility;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

.banner h1 {
  color: #FFF;
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
  top: 35%;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.2);
  height: 2em;
  line-height: 2em;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}