section.banner {
  box-sizing: border-box;
  color: #222;
  display: table;
  font-size: 14px;
  height: 619px;
  min-height: 150px;
  position: relative;
  text-align: center;
  text-rendering: optimizelegibility;
  display: table;
  text-align: center;
}

section.banner .gallery-link {
  position: absolute;
  text-decoration: none;
  font-size: 2.5em;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  border-radius: 5px;
  color: #aaa;
  font-weight: 100;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; 
}

section.banner .gallery-link.show {
  opacity: 1;
}

section.banner .gallery-link:hover {
  background: rgba(0, 0, 0, 0.6);
  -ms-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

section.banner .background-image:before {
  height: 100%;
  padding: 0px 0px 100%;
  padding-bottom: 100%;
  background: url("/img/main.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(8px);

  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
}

section.banner h1 {
  color: #FFF;
  font-size: 3em;
  font-weight: 200;
  margin-bottom: 20px;
  text-align: center;
  top: 35%;
  opacity: 0.5;
  background: rgba(0, 0, 0, 0.2);
  height: 2em;
  line-height: 2em;

  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
}